<h1>Cats</h1>


<table border="5" style="width:100%">
  <tr>
    <th>Name &nbsp; &nbsp; &nbsp;</th>
    <th>Birth Date</th>
    <th>Color</th>
    <th>Sex</th>
    <th>Description</th>
  </tr>
  <% @cats.each do |cat| %>
  <tr>
    <td><%= link_to cat.name, cat_url(cat) %></td>
    <td><%= cat.birth_date %></td>
    <td><%= cat.color %></td>
    <td><%= cat.sex %></td>
    <td><%= cat.description %></td>
    <td><%= link_to "Edit cat!", edit_cat_url(cat) %></td>

  </tr>
  <% end %>
</table>




<%= link_to "Create new cat!", new_cat_url %>
